{% extends 'basehome.html.twig' %}

{% block body %}
<main class="homepage">
    <section class="titulo">
        <div class="logoyh1">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" class="h1logo">
            <h1>Bienvenido a Recetas RosaBri</h1>
        </div>
        <p>Descubre, comparte y disfruta recetas hogareñas.</p>
        <a href="/recetas" class="btn">Explorar Recetas</a>
    </section>
</main>
{% endblock %}

