{% extends 'base.html.twig' %}

{% block title %}Registrarse!{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Ingrese sus datos</h1>
        <fieldset>
            <div class="formulario">
        {{ include('persona/_form.html.twig') }}

        <a href="{{ path('app_persona_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
