{% extends 'basehome.html.twig' %}

{% block title %}Mi Perfil{% endblock %}

{% block body %}
<div class="body-perfil">

    <div class="section">
        <a href="{{ path('app_receta_new')}}">Crear receta</a>
    </div>

    <div class="section">
        <a href="{{ path('app_receta_index')}}">Mis Recetas</a>
    </div>

    <div class="section">
        <a href="{{ path('app_receta_index')}}">Mis recetas favoritas</a>
    </div>
</div>
{% endblock %}
