{% extends 'basehome.html.twig' %}

{% block title %}Mi Perfil{% endblock %}

{% block body %}
<div class="body-perfil">

    <div class="section">
        <a href="{{ path('app_vista_receta_new')}}">Crear recetas</a>
    </div>

    <div class="section">
        <a href="{{ path('app_vista_receta')}}">Mis Recetas</a>
    </div>

    <div class="section">
        <a href="{{ path('app_receta_index')}}">Mis recetas favoritas</a>
    </div>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="section">
            <a href="{{ path('app_panel')}}">Panel de administracion</a>
        </div>

        {% endif %}
</div>


{% endblock %}
